.adn-category-banner{
    background: #ff9900;
color: #fff;
font-style: italic;
font-size: 1.4em;
padding: 2em;
text-align: center;
}

.adn-category-button_box, .adn-subcategory-button_box{
    display: flex;
    justify-content: space-evenly;
    margin: 2em;
    flex-wrap: wrap;
}

.adn-category-button_box-button{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 250px;
    max-height: 60px;
    min-width: 250px;
    min-height: 60px;
    font-size: 1.2em;
    font-weight: bold;
    color: #ff9900;
    text-transform: capitalize;
    border-radius: 15px;
    border:3px solid #ff9900;
    margin: 1em;
    cursor: pointer;
    transition: 0.3s;

}

.button-active{
    color: #fff;
    background-color: #ff9900;
}

.adn-category-button_box-button:hover{
    color: #fff;
    background-color: #ff9900;
}

.adn-subcategory-button_box-button{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 250px;
    max-height: 60px;
    min-width: 250px;
    min-height: 60px;
    font-size: 1.2em;
    font-weight: bold;
    color: #2E3946;
    text-transform: capitalize;
    border-radius: 15px;
    border:3px solid #2E3946;
    margin: 1em;
    cursor: pointer;
    transition: 0.3s;

}

.active-sub-button{
    color: #fff;
    background-color: #2E3946;
}

.adn-subcategory-button_box-button:hover{
    color: #fff;
    background-color: #2E3946;
}
