.adn-content-banner{
    background: #bb4926;
color: #fff;
font-style: italic;
font-size: 1.4em;
padding: 2em;
text-align: center;
}


.adn-content-button_box{
    display: flex;
    justify-content: space-evenly;
    margin: 2em;
    flex-wrap: wrap;
}